/* VARIABLES */
/* Fonts */
/* Colors */
/* Border-radiuses */
/* Media breakpoints */
/* Transition */
/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #181825;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

/* TYPOGRAPHY */
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77.45px;
}

h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 77.45px;
}

a {
  color: #d2cff5;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background: none;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
}
button.button-sm {
  background: #2c27ff;
  padding: 18px 0;
  color: #ffffff;
  font-weight: 600;
}
button.button-md {
  border: 1px solid #2c27ff;
  background: #ffffff;
  padding: 20px 0;
  color: #2c27ff;
  text-transform: uppercase;
}
button.button-lg {
  background: #2c27ff;
  padding: 26px 0;
  color: #ffffff;
  text-transform: uppercase;
}

.h3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58.09px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 1320px;
}

.white {
  color: #ffffff;
}

.blue {
  color: #2c27ff;
}

.pink {
  color: #d2cff5;
}

.yellow {
  color: #f2d93b;
}

/* CONTENT STYLES */
/* Header */
header {
  margin-top: 42px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 35px;
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .left-column {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .content .left-column span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}
header .content nav {
  display: flex;
  gap: 30px;
}

/* Main */
main {
  /* Main Section */
  /* Second Section */
  /* Third-section */
  /* Fourth Section */
  /* Fifth Section */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
}
main .main-section {
  display: grid;
  position: relative;
  grid-template-columns: 652px auto;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-top: 108px;
  margin-left: 116px;
}
main .main-section .left-column .subtitle {
  margin-top: 61px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
}
main .main-section .left-column p {
  margin-top: 39px;
  max-width: 582px;
  font-size: 20px;
  line-height: 24.2px;
}
main .main-section .left-column button {
  gap: 30px;
  margin-top: 39px;
  max-width: 250px;
}
main .main-section .banner {
  width: 100%;
  max-width: 667px;
  height: auto;
}
main .second-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 193px;
}
main .second-section article {
  border-radius: 8px;
  background: #0d1118;
  padding: 20px;
}
main .second-section article .top {
  margin-left: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
}
main .second-section article img {
  display: block;
  margin: 20px auto 0 auto;
}
main .second-section article img.target {
  max-width: 199px;
}
main .second-section article img.folder {
  max-width: 245px;
}
main .second-section article img.laptop {
  max-width: 233px;
}
main .second-section article p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 21.78px;
}
main .second-section article button {
  margin-top: 30px;
}
main .third-section {
  display: flex;
  justify-content: center;
  gap: 118px;
  margin-top: 138px;
  margin-right: 40px;
  margin-left: 100px;
}
main .third-section img {
  max-width: 459px;
}
main .third-section .right-column {
  margin-top: 94px;
}
main .third-section .right-column .subtitle {
  font-weight: 800;
  font-size: 20px;
  line-height: 24.38px;
  font-family: "Montserrat", sans-serif;
}
main .third-section .right-column h2 {
  margin-top: 8px;
}
main .third-section .right-column .texts {
  margin-top: 41px;
}
main .third-section .right-column .texts .item {
  margin-top: 14px;
}
main .third-section .right-column .texts .item .title {
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
}
main .third-section .right-column .texts .item p {
  margin-top: 5px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24.2px;
}
main .third-section .right-column button {
  gap: 18px;
  margin-top: 50px;
  max-width: 395px;
}
main .fourth-section {
  display: flex;
  justify-content: center;
  gap: 52px;
  background: #0a0d16;
  padding: 173px 132px 174px 83px;
}
main .fourth-section .item {
  display: flex;
  align-items: center;
  gap: 12px;
}
main .fourth-section .item .number {
  font-weight: 500;
  font-size: 96px;
  line-height: 116.18px;
}
main .fourth-section .item p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
}
main .fifth-section {
  margin-top: 85px;
  text-align: center;
}
main .fifth-section .subtitle {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 7.5px 0;
  max-width: 153px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
}
main .fifth-section h2 {
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  max-width: 848px;
}
main .fifth-section .content {
  margin-top: 56px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 90px;
}
main .fifth-section .content .item .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 25px;
  background: linear-gradient(311.07deg, #19212e 2.99%, #2d2d51 97.01%);
  width: 92px;
  height: 92px;
}
main .fifth-section .content .item .title {
  margin-top: 30px;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
}
main .fifth-section .content .item p {
  margin-top: 23px;
  font-size: 24px;
  line-height: 29.05px;
}
/* Footer *//*# sourceMappingURL=index.css.map */