/* VARIABLES */
/* Fonts */
$font-inter: "Inter", sans-serif;
/* Colors */
$color-blue-darkest: #181825;
$color-blue-black: #0d1118;
$color-black: #141417;
$color-black-light: #7d848f80;
$color-pink: #d2cff5;
$color-white: #ffffff;
$color-blue: #2c27ff;
$color-blue-light: #3f3bef;
$color-blue-dark: #0149b4;
$color-yellow: #f2d93b;
$color-purple: #7e58f8;
$color-grey: #363a3e;
$gradient: linear-gradient(311.07deg, #19212e 2.99%, #2d2d51 97.01%);
/* Border-radiuses */
$radius-sm: 8px;
$radius-md: 10px;
$radius-lg: 15px;
/* Media breakpoints */
$breakpoint-1024: 1024px;
$breakpoint-600: 768px;
$breakpoint-360: 600px;
/* Transition */
$transition: 0.3s;

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $color-blue-darkest;
    color: $color-white;
    font-family: $font-inter;
}

/* TYPOGRAPHY */
h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;
}

h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 77.45px;
}

a {
    color: $color-pink;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;

    &.button-sm {
        background: $color-blue;
        padding: 18px 0;
        color: $color-white;
        font-weight: 600;
        border-radius: $radius-lg;
    }
    &.button-md {
        background: $color-white;
        padding: 20px 0;
        color: $color-blue;
        text-transform: uppercase;
        border: 1px solid $color-blue;
    }
    &.button-lg {
        background: $color-blue;
        padding: 26px 0;
        color: $color-white;
        text-transform: uppercase;
    }
}

.h3 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58.09px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    max-width: 1280px;
}

.white {
    color: $color-white;
}

.blue {
    color: $color-blue;
}

.pink {
    color: $color-pink;
}

/* CONTENT STYLES */
/* Header */
header {
    margin-top: 42px;
    border-bottom: 1px solid $color-white;
    padding-bottom: 35px;

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-column {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                font-weight: 500;
                font-size: 24px;
                line-height: 29.05px;
            }
        }

        nav {
            display: flex;
            gap: 30px;
        }
    }
}

/* Main */
main {
    /* Main Section */
    .main-section {
        display: grid;
        grid-template-columns: 652px auto;
        align-items: center;
        gap: 7px;
        margin-top: 108px;
        margin-left: 116px;
        position: relative;

        .left-column {
            .subtitle {
                margin-top: 61px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29.05px;
            }

            p {
                margin-top: 39px;
                max-width: 582px;
                font-size: 20px;
                line-height: 24.2px;
            }

            button {
                margin-top: 39px;
                max-width: 250px;
                gap: 30px;
            }
        }

        .banner {
            width: 100%;
            max-width: 667px;
            height: auto;
            position: absolute;
            right: 0;
            z-index: -1;
        }
    }

    /* Second Section */
    .second-section {
    }

    /* Third-section */
    .third-section {
    }

    /* Fourth Section */
    .fourth-section {
    }

    /* Fifth Section */
    .fifth-section {
    }

    /*  */
    .sixth-section {
    }

    /*  */
    .seventh-section {
    }

    /*  */
    .eighth-section {
    }

    /*  */
    .nineth-section {
    }

    /*  */
    .tenth-section {
    }

    /*  */
    .eleventh-section {
    }
}

/* Footer */
footer {
}
