/* VARIABLES */
/* Fonts */
/* Colors */
/* Border-radiuses */
/* Media breakpoints */
/* Transition */
/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #181825;
  color: #ffffff;
  font-family: "Inter", sans-serif;
}

/* TYPOGRAPHY */
h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 77.45px;
}

h2 {
  font-weight: 600;
  font-size: 64px;
  line-height: 77.45px;
}

a {
  color: #d2cff5;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  text-decoration: none;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background: none;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
}
button.button-sm {
  background: #2c27ff;
  padding: 18px 0;
  color: #ffffff;
  font-weight: 600;
}
button.button-md {
  border: 1px solid #2c27ff;
  background: #ffffff;
  padding: 20px 0;
  color: #2c27ff;
  text-transform: uppercase;
}
button.button-lg {
  background: #2c27ff;
  padding: 26px 0;
  color: #ffffff;
  text-transform: uppercase;
}

.h3 {
  font-weight: 900;
  font-size: 48px;
  line-height: 58.09px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
  width: 100%;
  max-width: 1320px;
}

.white {
  color: #ffffff;
}

.blue {
  color: #2c27ff;
}

.pink {
  color: #d2cff5;
}

.yellow {
  color: #f2d93b;
}

/* CONTENT STYLES */
/* Header */
header {
  margin-top: 42px;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 35px;
}
header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .content .left-column {
  display: flex;
  align-items: center;
  gap: 10px;
}
header .content .left-column span {
  font-weight: 500;
  font-size: 24px;
  line-height: 29.05px;
}
header .content nav {
  display: flex;
  gap: 30px;
}

/* Main */
main {
  /* Main Section */
  /* Second Section */
  /* Third-section */
  /* Fourth Section */
  /* Fifth Section */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
  /*  */
}
main .main-section {
  display: grid;
  position: relative;
  grid-template-columns: 652px auto;
  align-items: center;
  gap: 7px;
  margin-top: 108px;
  margin-left: 116px;
}
main .main-section .left-column .subtitle {
  margin-top: 61px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29.05px;
}
main .main-section .left-column p {
  margin-top: 39px;
  max-width: 582px;
  font-size: 20px;
  line-height: 24.2px;
}
main .main-section .left-column button {
  gap: 30px;
  margin-top: 39px;
  max-width: 250px;
}
main .main-section .banner {
  position: absolute;
  right: 0;
  z-index: -1;
  width: 100%;
  max-width: 667px;
  height: auto;
}
main .second-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
  margin-top: 193px;
}
main .second-section article {
  border-radius: 8px;
  background: #0d1118;
  padding: 20px;
}
main .second-section article .top {
  margin-left: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24.2px;
}
main .second-section article img {
  display: block;
  margin: 20px auto 0 auto;
}
main .second-section article img.target {
  max-width: 199px;
}
main .second-section article img.folder {
  max-width: 245px;
}
main .second-section article img.laptop {
  max-width: 233px;
}
main .second-section article p {
  margin-top: 20px;
  font-size: 18px;
  line-height: 21.78px;
}
main .second-section article button {
  margin-top: 30px;
}
/* Footer *//*# sourceMappingURL=index.css.map */