/* VARIABLES */
/* Fonts */
$font-inter: "Inter", sans-serif;
$font-montserrat: "Montserrat", sans-serif;
$font-dm-sans: "DM Sans", sans-serif;
/* Colors */
$color-blue-darkest: #181825;
$color-blue-black: #0d1118;
$color-blue-black-light: #0a0d16;
$color-black-opacity: #0d111880;
$color-black: #141417;
$color-black-light: #7d848f80;
$color-grey-light: #d3d3d3f5;
$color-pink: #d2cff5;
$color-white: #ffffff;
$color-blue: #2c27ff;
$color-blue-light: #3f3bef;
$color-blue-dark: #0149b4;
$color-yellow: #f2d93b;
$color-yellow-dark: #fdd923;
$color-purple: #7e58f8;
$color-grey: #363a3e;
$gradient: linear-gradient(311.07deg, #19212e 2.99%, #2d2d51 97.01%);
/* Border-radiuses */
$radius-sm: 8px;
$radius-md: 10px;
$radius-lg: 15px;
$radius-xl: 25px;
/* Media breakpoints */
$breakpoint-1024: 1024px;
$breakpoint-600: 600px;
/* Transition */
$transition: 0.3s;

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: $color-blue-darkest;
    max-width: 100vw;
    overflow-x: hidden;
    color: $color-white;
    font-family: $font-inter;
}

/* TYPOGRAPHY */
h1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 77.45px;

    @media (max-width: 1024px) {
        font-size: 48px;
        line-height: 58.09px;
    }
    @media (max-width: 600px) {
        font-size: 32px;
        line-height: 38.4px;
    }
}

h2 {
    font-weight: 600;
    font-size: 64px;
    line-height: 77.45px;

    @media (max-width: 1024px) {
        font-size: 48px;
        line-height: 58px;
    }
    @media (max-width: 600px) {
        font-size: 32px;
        line-height: 38.4px;
    }
}

a {
    color: $color-pink;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.36px;
    text-decoration: none;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    border-radius: $radius-lg;
    background: none;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24.2px;

    @media (max-width: 1024px) {
        font-size: 18px;
        line-height: 22px;
    }
    @media (max-width: 600px) {
        font-size: 14px;
        line-height: 20px;
    }

    &.button-sm {
        background: $color-blue;
        padding: 18px 0;
        color: $color-white;
        font-weight: 600;

        @media (max-width: 1024px) {
            padding: 16px 0;
        }
        @media (max-width: 600px) {
            font-weight: 500;
        }
    }
    &.button-md {
        border: 1px solid $color-blue;
        background: $color-white;
        padding: 20px 0;
        color: $color-blue;
        text-transform: uppercase;

        @media (max-width: 1024px) {
            padding: 16px 0;
        }
        @media (max-width: 600px) {
            padding: 12px 0;
        }
    }
    &.button-lg {
        background: $color-blue;
        padding: 26px 0;
        color: $color-white;
        text-transform: uppercase;

        @media (max-width: 1024px) {
            padding: 22px 0;
        }
        @media (max-width: 1024px) {
            padding: 16px 0;
        }
    }
}

.h3 {
    font-weight: 900;
    font-size: 48px;
    line-height: 58.09px;

    @media (max-width: 1024px) {
        font-size: 32px;
        line-height: 36px;
    }
    @media (max-width: 600px) {
        font-size: 24px;
        line-height: 28px;
    }
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 100%;
    max-width: 1320px;
}

.white {
    color: $color-white;
}

.blue {
    color: $color-blue;
}

.pink {
    color: $color-pink;
}

.yellow {
    color: $color-yellow;
}

/* CONTENT STYLES */
/* Header */
header {
    margin-top: 42px;
    border-bottom: 1px solid $color-white;
    padding-bottom: 35px;

    @media (max-width: 1024px) {
        margin-top: 36px;
        border-bottom: none;
        padding-bottom: 0;
    }

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .left-column {
            display: flex;
            align-items: center;
            gap: 10px;

            @media (max-width: 600px) {
                gap: 8px;
            }

            img {
                @media (max-width: 1024px) {
                    max-width: 99px;
                }

                @media (max-width: 600px) {
                    max-width: 80px;
                }
            }

            span {
                font-weight: 500;
                font-size: 24px;
                line-height: 29.05px;

                @media (max-width: 600px) {
                    font-size: 20px;
                    line-height: 26.04px;
                }
            }
        }

        nav {
            display: flex;
            gap: 30px;

            @media (max-width: 1024px) {
                display: none;
            }
        }

        .menu {
            display: none;

            @media (max-width: 1024px) {
                display: block;
                width: auto;
            }
            @media (max-width: 600px) {
                img {
                    max-width: 28px;
                }
            }
        }
    }
}

/* Main */
main {
    /* Main Section */
    .main-section {
        display: grid;
        position: relative;
        grid-template-columns: auto minmax(400px, 667px);
        justify-content: center;
        align-items: center;
        gap: 7px;
        margin-top: 108px;
        margin-left: 116px;

        @media (max-width: 1024px) {
            grid-template-columns: auto minmax(300px, 543px);
            margin-top: 25px;
            margin-left: 84px;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            margin-top: 51px;
            margin-right: 21px;
            margin-left: 25px;
        }

        .left-column {
            .subtitle {
                margin-top: 61px;
                font-weight: 700;
                font-size: 24px;
                line-height: 29.05px;

                @media (max-width: 1024px) {
                    margin-top: 40px;
                    font-weight: 700;
                    font-size: 20px;
                }
                @media (max-width: 600px) {
                    margin-top: 40px;
                    font-size: 16px;
                    line-height: 19.2px;
                }
            }

            p {
                margin-top: 39px;
                max-width: 582px;
                font-size: 20px;
                line-height: 24.2px;

                @media (max-width: 1024px) {
                    margin-top: 14px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19.36px;
                }
                @media (max-width: 600px) {
                    margin-top: 25px;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            button {
                gap: 30px;
                margin-top: 39px;
                max-width: 250px;

                @media (max-width: 1024px) {
                    gap: 0;
                }
                @media (max-width: 600px) {
                    gap: 30px;
                    margin-top: 30px;
                    max-width: 200px;
                }

                img {
                    @media (max-width: 600px) {
                        max-width: 25px;
                        height: 15px;
                    }
                }
            }
        }

        .banner {
            width: 100%;
            max-width: 667px;
            height: auto;

            @media (max-width: 1024px) {
                max-width: 543px;
            }
            @media (max-width: 600px) {
                display: none;
            }
        }
    }

    /* Second Section */
    .second-section {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 22px;
        margin-top: 193px;

        @media (max-width: 1024px) {
            margin: 114px auto 0 auto;
            max-width: 890px;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            margin: 86px auto 0 auto;
            max-width: 262px;
        }

        article {
            display: grid;
            border-radius: $radius-sm;
            background: $color-blue-black;
            padding: 20px;

            @media (max-width: 600px) {
                padding: 15px;
            }

            .top {
                margin-left: 8px;
                font-weight: 500;
                font-size: 20px;
                line-height: 24.2px;

                @media (max-width: 1024px) {
                    font-size: 18px;
                }
                @media (max-width: 600px) {
                    font-size: 16px;
                }
            }

            img {
                display: block;
                margin: 20px auto 0 auto;

                &.target {
                    max-width: 199px;

                    @media (max-width: 1024px) {
                        max-width: 140px;
                    }
                }
                &.folder {
                    max-width: 245px;

                    @media (max-width: 1024px) {
                        max-width: 125px;
                    }
                }
                &.laptop {
                    max-width: 233px;

                    @media (max-width: 1024px) {
                        max-width: 120px;
                    }
                }
            }

            p {
                margin-top: 20px;
                font-size: 18px;
                line-height: 21.78px;

                @media (max-width: 1024px) {
                    font-size: 16px;
                    line-height: 19px;
                }
                @media (max-width: 600px) {
                    font-size: 14px;
                    line-height: 17px;
                }
            }

            a {
                align-self: flex-end;
                margin-top: 30px;
            }
        }
    }

    /* Third-section */
    .third-section {
        display: flex;
        justify-content: center;
        gap: 118px;
        margin: 138px 40px 0 100px;

        @media (max-width: 1024px) {
            gap: 60px;
            margin: 114px 68px 0 68px;
        }
        @media (max-width: 600px) {
            gap: 0;
            margin: 87px 20px 0 -133px;
        }

        .banner {
            max-width: 459px;

            @media (max-width: 1024px) {
                max-height: 600px;
            }
        }

        .right-column {
            margin-top: 94px;

            @media (max-width: 1024px) {
                margin-top: 60px;
            }
            @media (max-width: 600px) {
                margin-top: 65px;
            }

            .subtitle {
                font-weight: 800;
                font-size: 20px;
                line-height: 24.38px;
                font-family: $font-montserrat;
                text-transform: uppercase;

                @media (max-width: 1024px) {
                    font-size: 18px;
                    line-height: 20px;
                }
                @media (max-width: 600px) {
                    display: none;
                }

                &.subtitle-sm {
                    display: none;
                    margin-top: 30px;

                    @media (max-width: 600px) {
                        display: block;
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }

            h2 {
                margin-top: 8px;
            }

            .texts {
                display: block;
                margin-top: 41px;

                @media (max-width: 1024px) {
                    margin-top: 31px;
                }
                @media (max-width: 600px) {
                    display: none;
                }

                .item {
                    margin-top: 14px;

                    @media (max-width: 1024px) {
                        margin-top: 10px;
                    }

                    .title {
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29.05px;

                        @media (max-width: 1024px) {
                            font-size: 18px;
                            line-height: 22px;
                        }
                    }

                    p {
                        margin-top: 5px;
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24.2px;

                        @media (max-width: 1024px) {
                            margin-top: 4px;
                            font-size: 14px;
                            line-height: 22px;
                        }
                    }
                }
            }

            .description {
                display: block;
                margin-top: 25px;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;

                @media (min-width: 600px) {
                    display: none;
                }
            }

            button {
                gap: 18px;
                margin-top: 50px;
                max-width: 395px;

                @media (max-width: 1024px) {
                    gap: 15px;
                    margin-top: 35px;
                    max-width: 350px;
                }
                @media (max-width: 600px) {
                    gap: 7px;
                    margin-top: 20px;
                    padding: 12px 0;
                    max-width: 300px;

                    span {
                        font-size: 12px;
                    }

                    img {
                        width: 14px;
                    }
                }
            }
        }
    }

    /* Fourth Section */
    .fourth-section {
        display: flex;
        justify-content: center;
        gap: 52px;
        margin-top: 116px;
        background: $color-blue-black-light;
        padding: 173px 132px 174px 83px;

        @media (max-width: 1024px) {
            gap: 40px;
            margin-top: 37px;
            padding: 100px 50px;
        }
        @media (max-width: 600px) {
            margin-top: 42px;
            padding: 35px 10px;
        }

        .item {
            display: flex;
            align-items: center;
            gap: 12px;

            .number {
                font-weight: 500;
                font-size: 96px;
                line-height: 116.18px;

                @media (max-width: 1024px) {
                    font-size: 60px;
                    line-height: 80px;
                }
                @media (max-width: 600px) {
                    font-size: 24px;
                    line-height: 40px;
                }
            }

            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 24.2px;

                @media (max-width: 1024px) {
                    font-size: 16px;
                    line-height: 20px;
                }
                @media (max-width: 600px) {
                    font-size: 8px;
                    line-height: 12px;
                }
            }
        }
    }

    /* Fifth Section */
    .fifth-section {
        margin-top: 85px;
        text-align: center;

        @media (max-width: 1024px) {
            margin-top: 78px;
        }
        @media (max-width: 600px) {
            margin-top: 26px;
        }

        .subtitle {
            margin-right: auto;
            margin-left: auto;
            border: 1px solid $color-white;
            border-radius: $radius-sm;
            padding: 7.5px 0;
            max-width: 153px;
            font-weight: 500;
            font-size: 20px;
            line-height: 24.2px;

            @media (max-width: 600px) {
                font-size: 18px;
                padding: 5px 0;
            }
        }

        h2 {
            margin-top: 40px;
            margin-right: auto;
            margin-left: auto;
            max-width: 848px;

            @media (max-width: 600px) {
                margin-top: 25px;
            }
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            justify-content: space-between;
            gap: 90px;
            margin-top: 56px;

            @media (max-width: 1024px) {
                gap: 50px;
                margin-top: 40px;
            }
            @media (max-width: 600px) {
                margin-top: 30px;
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }

            .item {
                .img-wrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: auto;
                    margin-left: auto;
                    border-radius: $radius-xl;
                    background: $gradient;
                    width: 92px;
                    height: 92px;

                    @media (max-width: 600px) {
                        width: 62px;
                        height: 62px;
                    }

                    img {
                        width: 30px;
                    }
                }

                .title {
                    margin-top: 30px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29.05px;

                    @media (max-width: 600px) {
                        font-size: 18px;
                        line-height: 24px;
                        margin-top: 20px;
                    }
                }

                p {
                    margin-top: 23px;
                    font-size: 24px;
                    line-height: 29.05px;

                    @media (max-width: 600px) {
                        margin-top: 10px;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
    }

    /*  */
    .sixth-section {
        margin-top: 161px;

        h2 {
            margin-right: auto;
            margin-left: auto;
            max-width: 819px;
            text-align: center;
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 22px;
            margin-top: 90px;

            article {
                border-radius: $radius-sm;
                background: $color-blue-black;
                padding: 20px;

                .top {
                    margin-left: 8px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24.2px;
                }

                img {
                    display: block;
                    margin: 20px auto 0 auto;

                    &.target {
                        max-width: 199px;
                    }
                    &.folder {
                        max-width: 245px;
                    }
                    &.laptop {
                        max-width: 233px;
                    }
                }

                p {
                    margin-top: 20px;
                    font-size: 18px;
                    line-height: 21.78px;
                }

                button {
                    margin-top: 30px;
                }
            }
        }
    }

    /*  */
    .seventh-section {
        display: grid;
        grid-template-columns: auto 684px;
        justify-content: center;
        gap: 118px;
        margin-top: 210px;
        margin-right: 63px;
        margin-left: 100px;

        img {
            max-width: 478px;
        }

        .right-column {
            margin-top: 98px;

            .subtitle {
                font-weight: 800;
                font-size: 20px;
                line-height: 24.38px;
                font-family: $font-montserrat;
            }

            h2 {
                margin-top: 8px;
            }

            .bars {
                margin-top: 41px;

                .item {
                    margin-top: 17px;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 29.05px;

                    &.keyword {
                        .number {
                            margin-right: 18px;
                        }

                        .active {
                            background: $color-blue-light;
                            width: 95%;
                        }
                    }
                    &.seo-analytics {
                        .number {
                            margin-right: 80px;
                        }

                        .active {
                            background: $color-yellow-dark;
                            width: 90%;
                        }
                    }
                    &.seo-audit {
                        .number {
                            margin-right: 15px;
                        }

                        .active {
                            background: $color-purple;
                            width: 95%;
                        }
                    }
                    &.seo-audit {
                        .number {
                            margin-right: 15px;
                        }

                        .active {
                            background: $color-purple;
                            width: 95%;
                        }
                    }
                    &.optimization {
                        .number {
                            margin-right: 121px;
                        }

                        .active {
                            background: $color-grey;
                            width: 85%;
                        }
                    }

                    .top {
                        display: flex;
                        justify-content: space-between;
                    }

                    .bar {
                        position: relative;
                        margin-top: 17px;
                        border-radius: $radius-md;
                        background: $color-grey-light;
                        width: 100%;
                        height: 8px;

                        .active {
                            position: absolute;
                            top: 0;
                            left: 0;
                            border-top-left-radius: $radius-md;
                            border-bottom-left-radius: $radius-md;
                            height: 8px;
                        }
                    }
                }
            }

            button {
                gap: 18px;
                margin-top: 44px;
                max-width: 395px;
            }
        }
    }

    /*  */
    .eigth-section {
        position: relative;
        z-index: 0;
        margin-top: 126px;

        .bg-left {
            position: absolute;
            top: -19px;
            left: -409px;
            z-index: -1;
            max-width: 808px;
        }
        .bg-center {
            position: absolute;
            top: -35px;
            left: 560px;
            z-index: -1;
            max-width: 426px;
        }
        .bg-right {
            position: absolute;
            top: -166px;
            right: -443px;
            z-index: -1;
            max-width: 808px;
        }

        .content {
            z-index: 10;
            backdrop-filter: blur(100px);
            margin-right: 20px;
            margin-left: 20px;
            border-radius: $radius-xl;
            background: $color-black-opacity;
            padding: 76px;

            h2 {
                margin-right: auto;
                margin-left: auto;
                max-width: 848px;
                text-align: center;
            }

            .items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: start;
                gap: 80px;
                margin-top: 66px;

                article {
                    display: grid;

                    .category {
                        justify-self: flex-end;
                        border: 1px solid $color-yellow;
                        border-radius: $radius-xl;
                        padding: 6.5px 16.5px;
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24.2px;
                    }

                    .banner {
                        margin-top: 26px;
                        border-radius: $radius-md;
                        max-width: 100%;
                    }

                    a {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        margin-top: 20px;
                        color: $color-white;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 29.05px;

                        span {
                            max-width: 294px;
                        }
                    }
                }
            }
        }
    }

    /*  */
    .nineth-section {
        margin-top: 138px;
        text-align: center;
    }

    /*  */
    .tenth-section {
        margin-top: 146px;

        h2 {
            text-align: center;
        }

        .content {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 22px;
            margin-top: 54px;

            article {
                border-radius: $radius-md;
                background: $color-blue-black;
                padding: 20px;

                .author {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24.2px;
                }

                img {
                    margin-top: 20px;
                    border-radius: $radius-md;
                    max-width: 100%;
                }

                p {
                    margin-top: 20px;
                    font-size: 24px;
                    line-height: 29.05px;

                    span {
                        font-weight: 600;
                    }
                }

                button {
                    margin-top: 30px;
                }
            }
        }
    }

    /*  */
    .eleventh-section {
        margin-top: 122px;
        margin-right: 20px;
        margin-left: 20px;
        border-radius: $radius-xl;
        background: $color-blue;
        padding: 67px 0;
        text-align: center;

        p {
            margin-top: 16px;
            margin-right: auto;
            margin-left: auto;
            max-width: 970px;
            font-size: 32px;
            line-height: 38.73px;
        }

        button {
            margin-top: 48px;
            margin-right: auto;
            margin-left: auto;
            max-width: 833px;
            font-size: 36px;
            line-height: 43.57px;
        }
    }
}

/* Footer */
footer {
    margin-top: 95px;
    background: $color-black;
    padding: 97px 137px 137px 137px;
    font-family: $font-dm-sans;

    .content {
        display: flex;
        gap: 53px;

        .left-column {
            .logo-wrapper {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            p {
                margin-top: 45px;
                max-width: 420px;
                font-size: 24px;
                line-height: 31.25px;
            }
        }

        .right-column {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 100px;

            .title {
                margin-bottom: 30px;
                color: $color-blue-dark;
                font-weight: 700;
                font-size: 30px;
                line-height: 39.06px;
            }

            a {
                display: block;
                margin-top: 15px;
                color: $color-white;
                font-weight: 400;
                font-size: 24px;
                line-height: 31.25px;
            }

            .socials {
                .title {
                    margin-bottom: 14px;
                }

                .links {
                    display: flex;
                    gap: 10px;

                    a {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}
